.ForecastComponent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.ForecastComponent .Address {
  font-weight: 700;
  font-size: x-large;
  align-self: center;
  padding-left: 4rem;
  padding-right: 4rem;
  opacity: 0.5;
}
